.col{
  float:left;
  width:500px;
}
.container{
  width:1000px;
  margin:auto;
  text-align: center;
}
body{
  background:#332C22 url(http://itastdevserver.tel.uva.es/img/world.png) no-repeat scroll 40% 10%;
  color: #FFFFFF;
  font:12px Verdana, Geneva, Arial, Helvetica, sans-serif;
}
a{
  color:#BBBBBB;
  text-decoration: none;
}

a:hover{
  color:#993333;
  background-color: #EEEEEE;
}
h1,h2{font-family:"Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;}

.code{
  background-color: #FFFFFF;
  color: #000000;
  width:1000px;
  height:300px;
  overflow: auto;
}
.olPopupContent
{
  color:black;
}