/* $Id: style.css,v 1.1 2008/11/03 17:20:17 manuelgarcia Exp $ */

body {
	background: #616161;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #444;
	line-height: 17px;
}

img { border: none; }
a {
	color: #000;
}
a:hover { text-decoration: none; color : #111; }
#top { background: #616161 url(images/top.jpg) no-repeat scroll center bottom; }

h2 {
border-bottom:1px dotted #AAAAAA;
color:#666666;
font-size:22px;
font-weight:100;
letter-spacing:-1px;
padding:14px 0 4px 0;
}

#secondary-links a{
  color: #fff;
  text-decoration:none;
}

/*
  HEADER AREA
*/
#header { background: #616161 url(images/header.jpg) repeat-y scroll left top; }

#header h1 {
  font-size:38px;
  font-weight:600;
  letter-spacing:-2px;
}

#header h1 a {
  color: #fff;
  text-decoration: none;
}

#header h1 a:hover {
  color: #111;
  text-decoration: none;
}

#header h2 {
  color:#EEEEEE;
  font-size:16px;
  border:none;
  font-weight: bold;
  letter-spacing:normal;
}

#site-name {
  font-size: 26px;
  color: #fff;
}

/*
  PRIMARY LINKS
*/
#menu {
  line-height: 30px;
  background: #616161 url(images/menu.jpg) no-repeat;
}

#menu li { list-style-type: none; }

#menu li a{ 
  color: #fff;
  text-decoration: none;
  font-weight: 100;
}

#menu li a:hover { background: #666; }

/*
  SEARCH BOX
*/
#header #search { color:#FFFFFF; }

#header .form-text {
border: none;
background-color: #fff;
}

input.form-submit {
background-color: #fff;
border: 1px solid #616161;
-moz-border-radius: 3px;
webkit-border-radius: 3px;
}
input.form-submit:hover {
background-color: #616161;
color: #fff;
border: 1px solid #fff;
cursor: pointer;
}
/*
  END HEADER AREA
*/

/*
  CONTENT AREA
*/
#content { background: #fff url(images/content.jpg) repeat-y; }
/*
  CONTENT TOP REGION
*/
div#content-top-inner {
  background-color: #616161;
  color:#FFF;
  -moz-border-radius: 5px; /* for mozilla based browsers, an easy way to reward the better browsers ;) */
  webkit-border-radius: 5px; /* for safari, same as above */
}

div#content-top-inner a,
div#content-top-inner h2 { color: #fff;}

.link-idioma, .link-idioma a
{
	color:#FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align: right;
	text-decoration: none;
}
.link-idioma a:hover
{
	text-decoration: underline;
}
/*los subtitulos de idioma*/
.node_translation_en a
{
	color:#FFF;
	text-decoration: none;
	font-size:0px;
}
.node_translation_en a:hover
{
	color:#FFF;
	text-decoration: none;
	font-size:0px;
}
.node_translation_es a
{
	color:#FFF;
	text-decoration: none;
	font-size:0px;
}
.node_translation_es a:hover
{
	color:#FFF;
	text-decoration: none;
	font-size:0px;
}
li.first
{
	color:#000;
	text-decoration: none;
	/*font-size:12px;*/
}
li.first:hover
{
	color:#000;
	text-decoration: none;
	/*font-size:0px;*/
}

/*
  MAIN CONTENT AREA
*/
div#content div#left {
  font-size: 12px;
  text-align: justify;
}

.page-admin div#content div#left {
 text-align:left;
}

#left h1,
#left h2 {
  border-bottom: 1px dotted #aaa;
  font-weight: 100;
  color: #666;
  letter-spacing: -1px;
  padding-bottom:4px;
  line-height:0.9em;
}

#left h1 a,
#left h2 a{
  text-decoration: none;
  letter-spacing: -1px;
}

#left h1 {  font-size: 26px; }
#left h1 a {  font-size: 26px; }
#left h1 a:hover, #left h2 a:hover { color: #333; }

#left h2 { 
  font-size: 22px;
  margin:10px 0 7px;
}

#left .content img { margin:5px; }

#left h3 { 
  border-bottom: 1px dotted #6C91FC;
  font-size:18px;
}

.submitted { font-size:10px; }

.messages,
.status {
  background-color: #616161;
  color:#fff;
  padding:10px;
}

 /* for comments*/
.indented {
  background: #FFFFFF url(images/indented.png) no-repeat scroll left -2px;
  padding-left:25px;
  margin-left:0px;
}

/*
  RIGHT SIDEBAR REGION
*/
#right h2 { color: #666; }

#right ul,
#right .item-list ul li { list-style-type: none; }

#right ul li a {
	color: #000;
	font-weight: 100;
	display: block;
	text-decoration: none;
	font-size: 14px;
	border-bottom: 1px dotted #aaa;
}

#right .views-admin-links ul li a {
display: inline;
}

#right ul li a:hover { color : #111; }
/*
  END CONTENT AREA
*/

/*
  FOOTER REGION
*/
#footer {
  font-size: 11px;
  background: #880000 url(images/footer.jpg) repeat-y ;
}
#footer,
#footer a,
#footer h2,
#bottom
 { color: #eee; }

#footer a:hover,
#footer a.active,
div#content-top-inner a:hover,
div#content-top-inner a.active {
  color: #aaa; 
  text-decoration: underline; 
}

#bottom { background: #616161 url(images/bottom.jpg) no-repeat; }

.admin-list dt {
  font-size:14px;
}

.admin-list dd {
  margin-bottom: 10px;
}

/*
  END FOOTER REGION
*/

/*
  SECCION PROYECTO
*/
.img_dcha_proyecto {
	clear: both;
	float: right;
	margin: 10px;
	width: 220px;
}
.img_izda_proyecto {
	clear: both;
	float: left;
	margin: 10px;
	width: 220px;
}
.p_proyecto {
	width: 505px;
	text-align: justify;
	padding: 10px;
}
/*
  END SECCION PROYECTO
*/

/*
  SECCION OBJETIVOS
*/
.img_dcha_objetivos {
	clear: both;
	float: right;
	margin: 10px;
	width: 220px;
}
.img_izda_objetivos {
	clear: both;
	float: left;
	margin: 10px;
	width: 220px;
}
.p_objetivos {
	width: 505px;
	text-align: justify;
	padding: 10px;
}
/*
  END SECCION OBJETIVOS
*/
/*
  SECCION BOOK
*/
#left ul li.leaf {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #444;
	line-height: 17px;
}
/*
  END SECCION BOOK
*/
/* SECCION TWEETS */
#block-twitterblock-0 h2
{
	background-image:url('http://a3.twimg.com/a/1279848828/images/fronts/logo.png');
background-position: bottom left;
background-size: 60%  auto;
        background-repeat: no-repeat;
        text-indent: -9000px;
}
